Source: ayatana-indicator-messages
Standards-Version: 4.7.4
Maintainer: Ayatana Packagers <pkg-ayatana-devel@lists.alioth.debian.org>
Uploaders:
 Mike Gabriel <sunweaver@debian.org>,
 Debian UBports Team <team+ubports@tracker.debian.org>,
Section: gnome
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
 dh-sequence-gir,
 cmake,
 cmake-extras,
 gir1.2-gobject-2.0-dev,
 gir1.2-gio-2.0-dev,
 gtk-doc-tools,
 intltool,
 libaccountsservice-dev,
 libdbustest1-dev <!nocheck>,
 libgtest-dev <!nocheck>,
 python3-dbusmock,
 systemd-dev [linux-any],
 valac,
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-messages
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-messages
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-messages

Package: ayatana-indicator-messages
Architecture: any
Depends:
 ayatana-indicator-common,
 libglib2.0-bin,
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 indicator-applet | indicator-renderer | mate-applet-indicator,
Breaks:
 indicator-messages,
Replaces:
 indicator-messages,
Description: Ayatana Indicator that collects messages that need a response
 A place on the user's desktop that collects messages that need a response.
 .
 This menu provides a condensed and collected view of all of those messages
 for quick access, but without making them annoying in times that you want
 to ignore them.
 .
 Ayatana Indicators are only available on desktop environments that
 provide a renderer for system indicators (such as MATE, Xfce, Lomiri,
 etc.).

Package: libmessaging-menu0
Architecture: any
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ayatana Messaging Menu - shared library
 A place on the user's desktop that collects messages that need a response.
 .
 This menu provides a condensed and collected view of all of those messages
 for quick access, but without making them annoying in times that you want
 to ignore them.
 .
 This library contains information to build status providers to go into
 the messaging menu.

Package: libmessaging-menu-dev
Architecture: any
Section: libdevel
Depends:
 libglib2.0-dev,
 libmessaging-menu0 (=${binary:Version}),
 ${gir:Depends},
 ${misc:Depends},
Provides:
 ${gir:Provides},
Description: Ayatana Messaging Menu - library development files
 A place on the user's desktop that collects messages that need a response.
 .
 This menu provides a condensed and collected view of all of those messages
 for quick access, but without making them annoying in times that you want
 to ignore them.
 .
 This package provides development files for the Messaging Menu shared
 library.

Package: gir1.2-messagingmenu-1.0
Architecture: any
Section: introspection
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Ayatana Messaging Menu - gir bindings
 A place on the user's desktop that collects messages that need a response.
 .
 This menu provides a condensed and collected view of all of those messages
 for quick access, but without making them annoying in times that you want
 to ignore them.
 .
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings.
