#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/autoreconf.mk

LDFLAGS += -Wl,-z,defs -Wl,--as-needed

common-install-arch::
	find debian/tmp -name \*.la -delete
	cd po; intltool-update --pot --verbose
